to create a function which takes arbitary values ,and returns a list containing only even numbers

In [1]:
def myfunc(*args):
    list1 = [ ]
    for i in list(args):
        if i%2==0:
            list1.append(i)
    return list1

In [2]:
myfunc(1,2,3,4,5,6,7,8,9,10)

[2, 4, 6, 8, 10]

In [10]:
#skyline problem

In [8]:
def myfunc(string):
    count = 0
    result = ' '
    for i in string:
        if count%2 ==0:
            result = result + i.lower()

        else:

            result = result + i.upper()

        count += 1

    return result

In [9]:
myfunc('abcdefghij')

' aBcDeFgHiJ'

# Functions practice problems

#   I.  warmup section

question1----
lesser of two evens: Write a function that returns the lesser of two given numbers if both numbers are even ,but returns the greater if one or both numbers are odd

In [12]:
def myfunc(a,b):
    if a%2 ==0 and b%2 == 0:
        return min(a,b)
    elif a%2 ==0 or b%2 ==0:
        return max(a,b)

In [13]:
myfunc(1,2)

2

In [14]:
myfunc(8,6)

6

question 2 -- ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter¶

In [34]:
def myfunc(string):
    first,second = string.split(" ")
    if first[0]==second[0]:
        return True
    else:
        return False

In [35]:
myfunc('crazy crack')

True

In [37]:
myfunc('duck cuck')

False

# level 1 problems

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name¶

In [126]:
def myfunc(name):
    first_letter= name[0].upper()
    inbetween = name[1:3]
    fourth_letter = name[3].upper()
    rest = name[4:]
    return first_letter + inbetween + fourth_letter + rest

In [127]:
myfunc('abhignya')

'AbhIgnya'

In [128]:
# by using capatilize method

In [134]:
def myfunc(name):
    first_half = name[:3]
    second_half =name[3:]
    return first_half.capitalize()+second_half.capitalize()

In [135]:
myfunc('mcdonald')

'McdOnald'

MASTER YODA: Given a sentence, return a sentence with the words reversed¶

In [136]:
def master_yoda(text):
    i = text.split()
    reversed_i = i[::-1]
    return reversed_i

In [137]:
master_yoda(' this is me')

['me', 'is', 'this']

In [142]:
#using .join method

In [147]:
def master_yoda(text):
    i = text.split()
    reverse_i= i[::-1]
    return ' '.join(reverse_i)

In [148]:
master_yoda(' i a home')

'home a i'

for checking prime

In [103]:
def if_prime(num):
    for n in range(2,num):
        if num%n ==0:
            print(num,'is not prime')
            break
        else:
            print(num,'is prime')

In [104]:
if_prime(3)

3 is prime

In [105]:
if_prime(6)

6 is not prime

Question 
ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
note - abs(num) returns absolute value of a number

In [139]:
def almost_there(n):
    return (abs(100-n)<=10 or abs(200-n)<=10)

In [141]:
almost_there(104)

True

# level 2 problems

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [172]:
def has_33(n):
    for i in range(0,len(n)):
        if n[i]==3 and n[i+1]==3:
            return True
        
    return False

In [173]:
has_33([1,2,3,3])

True

In [174]:
has_33([1,2,3,4])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters¶

In [210]:
def paper_doll(text):
    result = " "
    for char in text:
        result += char*3
    return result

In [211]:
paper_doll('abhignya')

' aaabbbhhhiiigggnnnyyyaaa'