In [1]:
x = 25
def printer():
    x =50
    return x

In [2]:
print(x)

25

In [3]:
print(printer())

50

# using LEGB rule

-   L - local

In [4]:
#lambda num : num ** 2

-  E - enclosing functions

In [15]:
name = 'This is a global string'
def greet():
    name = 'sammy'
    def hello():
        print('hello '+ name)
    hello()

In [16]:
greet()

hello sammy

In [18]:
# Global
name = 'This is a global string'
def greet():
    # Enclosing
    name = 'sammy'
    def hello():
        #local
        print('hello '+ name)
    hello()

In [19]:
greet()

hello This is a global string

In [31]:
x =50
def func():
    global x 
    print(f"X is {x}")
    # local reassingnment on a global variable
    x ='new value'
    print(f" I just locally chagend X to {x}")
    return x

In [32]:
func()

X is 50
 I just locally chagend X to new value

'new value'

In [33]:
print(x)

new value

In [34]:
x

'new value'

# functions and methods homework

 question 1 -Write a function that computes the volume of a sphere given its radius.

In [39]:
def vol(r):
    vol = (4/3)*3.14*r*r*r
    return vol

In [40]:
vol(3)

113.03999999999998

In [41]:
vol(2)

33.49333333333333

question 2 - Write a function that checks whether a number is in a given range (inclusive of high and low)

In [74]:
def ran_bool(num,low,high):
    num = int()
    low = int()
    hign = int()
    for num in range(low,high):
        return True
    else:
        return False

In [75]:
ran_bool(5,2,7)

True

In [77]:
ran_bool(11,1,9)

True

In [78]:
def ran_bool(num,low,high):
    return num in range(low,high)

In [79]:
ran_bool(1,2,3)

False

In [80]:
ran_bool(7,1,8)

True

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

In [89]:
def up(s):
    d = {"upper":0,"lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("original string: ",s)
    print("no of upper case characters : ",d["upper"])
    print("no of lower case characters : ",d["lower"])

In [90]:
up("She is So Mean")

original string:  She is So Mean
no of upper case characters :  3
no of lower case characters :  8

Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [92]:
def unique(s):
    return list(s.set())

In [105]:
unique([1,1,1,1,2,2,2,2,3,3,3,3,3,3,4,4,4,4,55,5,55,5,55])

[1, 2, 3, 4, 55, 5]

In [100]:
def unique(s):
    a =[]
    for i in s:
        if i  not in a:
            a.append(i)
    return a

In [101]:
unique([1,2,2,2,2,3,45,5])

[1, 2, 3, 45, 5]

 question 5--
 Write a Python function to multiply all the numbers in a list.

In [135]:
def my_func(lst):
    total = 1
    for i in lst:
        total *= i
    return total

In [136]:
my_func([1,2,3,7,8])

336

In [138]:
my_func([1, 2, 3, -4])

-24

Write a Python function that checks whether a passed string is palindrome or not.

In [145]:
def pal(p):
    if p[::1]==p[::-1]:
        return "It is a palindrome"
    else:
        return "It is not a palindrome"

In [146]:
pal("madam")

'It is a palindrome'

In [147]:
pal("abhi")

'It is not a palindrome'

In [148]:
pal('malayalam')

'It is a palindrome'

In [149]:
pal("dog")

'It is not a palindrome'

question 7---Write a Python function that checks whether a passed string is pangram or not.

Note : Pangrams are words or sentences containing every letter of the alphabet at least once.

In [152]:
import string
def ispangram(str1,alphabet = string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())

In [153]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [155]:
ispangram("this is me")

False