 # Map function

In [ ]:
def square(num):
    return num**2

In [7]:
my_nums = [1,2,3,4,5,6,7,8]

In [9]:
for i in map(square,my_nums):
    print(i)

1
4
9
16
25
36
49
64

In [11]:
list(map(square,my_nums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [23]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return "Even"
    else:
        return mystring[0].upper()

In [24]:
names = ['abhi','toby','booby','cuity','chootu']

In [25]:
list(map(splicer,names))

['Even', 'Even', 'B', 'C', 'Even']

In [29]:
def check_even(i):
    
        if i%2 ==0:
            return 'even'
        else:
            return 'odd'

In [30]:
numbers = [1,2,3,4,5,5,6,6,7,8,9,]

In [31]:
list(map(check_even,numbers))

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'odd',
 'even',
 'even',
 'odd',
 'even',
 'odd']

# Filter function

In [33]:
def check_even(num):
    return num%2 == 0

In [36]:
my_nums = [1,2,3,45,6,7,8,7,56,24,108,899]

In [37]:
list(filter(check_even,my_nums))

[2, 6, 8, 56, 24, 108]

In [38]:
for n in filter(check_even,my_nums):
    print(n)

2
6
8
56
24
108

# normal functions

In [40]:
def square(num):
    result = num ** 2
    return result

In [41]:
square(12)

144

# lambda expression

In [42]:
lambda num : num ** 2

In [44]:
list(map(lambda num : num **2,my_nums))

[1, 4, 9, 2025, 36, 49, 64, 49, 3136, 576, 11664, 808201]

In [45]:
list(filter(lambda num : num %2==0, my_nums ))

[2, 6, 8, 56, 24, 108]

In [46]:
names

['abhi', 'toby', 'booby', 'cuity', 'chootu']

In [49]:
list(map(lambda i : i[0].upper(), names))

['A', 'T', 'B', 'C', 'C']

In [50]:
list(map(lambda i : i[::-1],names))

['ihba', 'ybot', 'yboob', 'ytiuc', 'utoohc']