# formating with the .format( ) method
- a good way to formal objects into your strings for print statements is with is the string format method
- syntax is { } then also { }'.format('sonething1','something2'

In [1]:
print('this is a sting{}'.format(' INSERTED'))

this is a sting INSERTED

In [2]:
print('the {} {} {}'.format('fox','brown','quick'))

the fox brown quick

In [3]:
print('the {2} {1} {0}'.format('fox','brown','quick'))

the quick brown fox

In [4]:
print('the {0} {0} {0}'.format('fox','brown','quick'))

the fox fox fox

In [5]:
print('the {q} {b} {f}'.format(f='fox', b= 'brown',q= 'quick'))

the quick brown fox

# float formating follows 
-  "{value : width.precision  f}"

In [6]:
result = 100/4576

In [7]:
result

0.021853146853146852

In [11]:
print('THE RESULT WAS {r:1.3f}'.format(r=result))

THE RESULT WAS 0.022

In [14]:
print('THE RESULT WAS {r:5.5f}'.format(r=result))

THE RESULT WAS 0.02185

In [15]:
name = 'jose'

In [17]:
print("hello , his name is {}".format(name))

hello , his name is jose

In [18]:
print(f"hello ,his name is {name}")

hello ,his name is jose

In [19]:
name ='sam'
age =18

In [22]:
print(f'{name} is {age } years old.')

sam is 18 years old.

# lists in python
-  [ ]
-  mutable

In [23]:
my_list = [1,2,3]

In [24]:
len(my_list)

3

In [25]:
my_list = ['one','two','three']

In [26]:
my_list[1:]

['two', 'three']

In [27]:
my_list

['one', 'two', 'three']

In [28]:
al = ['four','five']

In [30]:
 nl = my_list + al

In [31]:
nl

['one', 'two', 'three', 'four', 'five']

In [32]:
nl[0]='ONE ALL CAPS'

In [33]:
nl

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [34]:
nl.append('six')

In [35]:
nl

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [37]:
nl[0]= 'one'
nl

['one', 'two', 'three', 'four', 'five', 'six']

In [38]:
nl.append("seven")

In [39]:
nl

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [40]:
nl.pop()

'seven'

In [41]:
nl

['one', 'two', 'three', 'four', 'five', 'six']

In [42]:
popped_item = nl.pop()

In [43]:
popped_item

'six'

In [44]:
nl.pop(0)

'one'

In [45]:
nl

['two', 'three', 'four', 'five']

In [51]:
nl = ['a','e','x','b','c']
bl = [9,2,6,4]

In [47]:
nl.sort()

In [48]:
nl

['a', 'b', 'c', 'e', 'x']

In [52]:
bl.sort()

In [53]:
bl

[2, 4, 6, 9]

In [54]:
bl.reverse()

In [55]:
bl

[9, 6, 4, 2]

# Dictionary 
- starts with { }
- unordered

In [58]:
my_dict = {'key1':'value1','key2':'value2'}

In [60]:
my_dict['key1']

'value1'

In [61]:
pl= {'apple':2.99,'orange':4.55,'milk':5}

In [62]:
pl['apple']

2.99

In [63]:
d = {'k1':123,'k2':[0,1,23],'k3':{'insidekey':45}}
d['k3']

{'insidekey': 45}

In [64]:
d['k3']['insidekey']

45

In [66]:
d = {'key1':['a','b','c']}
d

{'key1': ['a', 'b', 'c']}

In [67]:
mylist = d['key1']

In [68]:
mylist

['a', 'b', 'c']

In [71]:
letter = mylist[2].upper()

In [72]:
letter

'C'

In [73]:
d = {'k1':100,'k2':200}

In [74]:
d['k3']=300

In [75]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [76]:
d['k1'] = 'new value'

In [77]:
d

{'k1': 'new value', 'k2': 200, 'k3': 300}

In [78]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [79]:
d.values()

dict_values(['new value', 200, 300])

In [80]:
d.items()

dict_items([('k1', 'new value'), ('k2', 200), ('k3', 300)])

# Tuples
- immutable

In [81]:
t = (1,2,3)

In [82]:
l = [1,2,3]

In [83]:
type(t)

tuple

In [84]:
type(l)

list

In [85]:
len(t)

3

In [86]:
t = ('one',2)

In [87]:
t[0]

'one'

In [88]:
t[-1]

2

In [89]:
t = ('a','a','b')
t.count('a')

2

In [90]:
t.index('a')

0

In [91]:
t

('a', 'a', 'b')

In [92]:
l

[1, 2, 3]

In [93]:
l[0]='new'

In [94]:
l

['new', 2, 3]

In [95]:
t[0]='new'

TypeError: 'tuple' object does not support item assignment

# Sets
- unordered
-  and unique

In [96]:
my_set = set()

In [97]:
my_set

set()

In [98]:
my_set.add(1)

In [99]:
my_set

{1}

In [100]:
my_set.add(2)

In [101]:
my_set

{1, 2}

In [102]:
my_set.add(2)

In [103]:
my_set

{1, 2}

In [104]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3,3]
set(mylist)

{1, 2, 3}

In [105]:
set('mississippi')

{'i', 'm', 'p', 's'}

# Booleans

In [106]:
True

True

In [107]:
False

False

In [108]:
type(False)

bool

In [109]:
1 > 2

False

In [110]:
1 == 1

True

In [111]:
b = None

In [112]:
b

# Files

In [113]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [114]:
myfile = open('myfile.txt')

In [115]:
myfile = open('wghj.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'wghj.txt'

In [116]:
pwd

'/Users/abhignyatayi'

In [117]:
myfile = open('myfile.txt')

In [118]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [119]:
myfile.read()

''

In [121]:
myfile.seek(0)

0

In [122]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [123]:
myfile.seek(0)

0

In [124]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

In [125]:
myfile = open("/Users/YouUserName/Folder/myfile.txt")

FileNotFoundError: [Errno 2] No such file or directory: '/Users/YouUserName/Folder/myfile.txt'

In [126]:
pwd

'/Users/abhignyatayi'

In [127]:
myfile.close()

In [128]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [130]:
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [133]:
with open('myfile.txt',mode = 'w+') as myfile:
    contents = myfile.read()

In [134]:
contents

''

In [145]:
%%writefile new_file.txt
one on first
two on second 
three on third

Overwriting new_file.txt

In [146]:
with open('new_file.txt',mode ='r') as f:
    print(f.read())

one on first
two on second
three on third

In [147]:
with open('new_file.txt',mode ='a') as f:
    f.write('four on fourth')

In [148]:
with open('new_file.txt',mode ='r') as f:
    print(f.read())

one on first
two on second
three on third
four on fourth

In [149]:
with open('nadvfth.txt',mode ='w') as f:
    f.write('i created this file')

In [150]:
with open('nadvfth.txt',mode ='r') as f:
    print(f.read())

i created this file

In [151]:
y = open('text.txt',mode = 'w')
y.write('Hello world')
y.close()