-  if 
-  elif 
-  else statements

In [1]:
if True:
    print('its true')

its true

In [4]:
if 1>2:
    print("its True!")
else:
    print("its False!")

its False!

In [5]:
hungry = False
if hungry:
    print("FEED ME !")
else:
    print("DONT FEED ME !")

DONT FEED ME !

In [10]:
loc = 'hospital'
if loc =='autoshop':
    print('cars are cool')
elif loc == 'bank':
    print('money is cool')
else:
    print('i Dont know much')

i Dont know much

In [12]:
name = 'sammy'
if name == 'frankie':
    print('hello frankie!')
elif name == 'sammy':
    print('hello sammy')
else:
    print('hello someone')

hello sammy

In [18]:
print('enter the marks obtained')
marks = int(input())
print(marks)
if marks >=90:
    print('grade = s')
elif marks >=80:
    print('grade = A')
elif marks >=70:
    print('grade = B')
elif marks >=60:
    print('grade = c')
elif marks >=50:
    print('grade = D')
elif marks >= 40:
    print('grade = E')
else:
    print('fail')

enter the marks obtained
78
78
grade = B

# For loop

In [19]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [24]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [28]:
for num in mylist:
    if num % 2 != 0:
        print(num)
# for odd numbers

1
3
5
7
9

In [33]:
for i in mylist :
    if i %2 ==0:
        print(f'even number :{i}')
# for even number using f string

even number :2
even number :4
even number :6
even number :8
even number :10

In [31]:
#by using f string literals 
for i in mylist :
    if i %2 != 0 :
        print (f'odd number :{i}')

odd number :1
odd number :3
odd number :5
odd number :7
odd number :9

In [38]:
list_sum =0
for i in mylist:
    list_sum = list_sum + i
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [39]:
list_sum =0
for i in mylist:
    list_sum = list_sum + i
print(list_sum)

55

In [40]:
mystring = 'hello world'
for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [41]:
for i in 'abhignya':
    print(i)

a
b
h
i
g
n
y
a

In [42]:
tup = (1,2,3)
for i in tup:
    print(i)

1
2
3

In [43]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
for i in mylist:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [44]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [45]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]
for i in mylist:
    print(i)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [46]:
for a,b,c in mylist:
    print(b)

2
6
9

In [49]:
d = {'k1':1,'k2':2,'k3':3}
for key,values in d.items():
    print(values)

1
2
3

d = {'k1':1,'k2':2,'k3':3}
for key,values in d.items():
    print(key)

# While loop

In [63]:
x =0
while x<5:
    print(f'the value of x is  {x}')
    x +=1 # or x = x+1
else:
    print("x is not less than 5")

the value of x is  0
the value of x is  1
the value of x is  2
the value of x is  3
the value of x is  4
x is not less than 5

# Continue , Break , Pass

In [66]:
#pass key word does nothing at all

In [65]:
x = [1,2,3]
for i in x:
    #comment
    pass
print("end of my script")

end of my script

In [67]:
# continue

In [74]:
mystring = "sammy"
for i in mystring:
    if i == "a":
        continue
    print(i)

s
m
m
y

In [75]:
mystring = "sammy"
for i in mystring:
    if i == "a":
        break
    print(i)

s

In [92]:
x = 0

while x < 5:
    if x == '2':
        break
    print(x)
    x += 1

0
1
2
3
4

In [84]:
mystring = "abhignya"
for i in mystring:
    if i == 'g':
        break
    print(i)

a
b
h
i

# Useful operators

# range function - for iteration

In [102]:
mylist = [1,2,3,4,5]
for i in range(0,10,2):
    print(i)
# for printing the even numbers

0
2
4
6
8

In [103]:
 for i in range(0,11,3):
        print(i)
# to print the numbers divisible by 3

0
3
6
9

In [104]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

# enumerate function

In [107]:
index_count = 0
for i in 'abcde':
    print("at index {} the letter is {}".format(index_count,i))
    index_count +=1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [109]:
index_count = 1
for i in"abcdefghijklmnopqrstuvwxyz":
    print("at index {} the letter is {}".format(index_count,i))
    index_count += 1

at index 1 the letter is a
at index 2 the letter is b
at index 3 the letter is c
at index 4 the letter is d
at index 5 the letter is e
at index 6 the letter is f
at index 7 the letter is g
at index 8 the letter is h
at index 9 the letter is i
at index 10 the letter is j
at index 11 the letter is k
at index 12 the letter is l
at index 13 the letter is m
at index 14 the letter is n
at index 15 the letter is o
at index 16 the letter is p
at index 17 the letter is q
at index 18 the letter is r
at index 19 the letter is s
at index 20 the letter is t
at index 21 the letter is u
at index 22 the letter is v
at index 23 the letter is w
at index 24 the letter is x
at index 25 the letter is y
at index 26 the letter is z

In [110]:
word = 'Abhignya'
for i in enumerate(word):
    print(i)

(0, 'A')
(1, 'b')
(2, 'h')
(3, 'i')
(4, 'g')
(5, 'n')
(6, 'y')
(7, 'a')

In [2]:
for i,l in enumerate(word):
    print(i)
    print(l)

NameError: name 'word' is not defined

# Zip function

In [118]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list3 = [100,200,300,400]
for i in zip(list1,list2,list3):
    print(i)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)

In [119]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [120]:
'x' in [1,2,3]

False

In [123]:
'x' in ['x','y','z']

True

In [124]:
'a' in 'a world'

True

In [126]:
d = {'mykey':4566}
4566 in d.values()

True

In [127]:
list1 = [10,20,20,40,100]
min(list1)

10

In [128]:
max(list1)

100

In [130]:
# random library

In [129]:
from random import shuffle

In [133]:
mylist =[3,4,5,6,7,8,9]
shuffle(mylist)

In [134]:
shuffle(mylist)

In [135]:
mylist

[4, 3, 8, 5, 7, 9, 6]

In [136]:
from random import randint

In [138]:
randint(0,100)

20

In [140]:
randint(335,77788)

71109

In [143]:
result = input('what is your name?')

what is your name? abhi

In [144]:
result

' abhi'

In [152]:
result = int(input("favourite number :"))

favourite number :76

In [153]:
int(result)

76

In [154]:
float(result)

76.0

In [155]:
result

76

In [150]:
# input generally casts in for of strings
# so to get the tpye in int or float put the type in front 
#of the resut needed

In [151]:
type(result)

str

 # list comprehensions

In [159]:
mystring = 'yoyoyo'
mylist =[]
for i in mystring:
    mylist.append(i)

In [160]:
mylist

['y', 'o', 'y', 'o', 'y', 'o']

In [161]:
mylist = [x for x in 'word']

In [162]:
mylist

['w', 'o', 'r', 'd']

In [163]:
mylist = [x for x in 'abhignya']

In [164]:
mylist

['a', 'b', 'h', 'i', 'g', 'n', 'y', 'a']

In [165]:
mylist = [x for x in range(0,10,2)]

In [166]:
mylist

[0, 2, 4, 6, 8]

In [171]:
mylist = [x for x in range(0,21,2)]

In [172]:
mylist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [175]:
celcius = [0,10,20,30,40,100]
fahrenheit = [((9/5)*temp +32)for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0, 212.0]

In [176]:
fahrenheit = []
for temp in celcius:
    fahrenheit.append((9/5)*temp +32)

In [177]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0, 212.0]

In [178]:
mylist = [x**2 for x in range(0,11) if x%2 ==0]

In [179]:
mylist

[0, 4, 16, 36, 64, 100]

In [180]:
results = [ x if x%2==0 else 'ood' for x in range (0,11)]
results

[0, 'ood', 2, 'ood', 4, 'ood', 6, 'ood', 8, 'ood', 10]

In [182]:
mylist =[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [183]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [186]:
mylist =[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x+y)

In [187]:
mylist

[102, 202, 302, 104, 204, 304, 106, 206, 306]

In [188]:
mylist =[x*y for x in [1,2,3] for y in [66,7,6]]
mylist

[66, 7, 6, 132, 14, 12, 198, 21, 18]